vendor/
node_modules/
.env
database/*.sqlite
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/storage/*.key
/storage/logs/*
!/storage/logs/.gitkeep
/storage/framework/cache/*
!/storage/framework/cache/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/testing/*
!/storage/framework/testing/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/public/hot
/public/storage
/storage/pail
/bootstrap/cache/*.php
!/bootstrap/cache/.gitkeep
/.fleet
/.idea
/.nova
/.vscode
/.zed
